.fightarea{
    display: flex;
    gap: 20px;
}
#char, #monster {
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
.log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
.image{
    width: 20px;
    display: flex;
    margin-left: 30em;
}
.img{
    width: 88px;
}
.img2{
    width: 210px;
    

}
@media ( max-width: 1000px) {
    .fightarea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .img{
        width: 300px;
    }
    .image {
        margin-left:0 ;
    }
}